@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
/* Настройки общего сброса */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

*:hover,
*:focus {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

nav,
footer,
header,
aside {
    display: block;
}


input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 500;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
#__next{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
}
header{
    width: inherit;
    height: 70px;
    flex-shrink: 0;
}
main{
    overflow-y:auto;
    flex: 1 0 auto;
}
footer{
    width: inherit;
    height: 100px;
    flex-shrink: 0;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 50%;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
    height: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}
